<div class="top-wrapper">
  <div class="box-container">
    <div class="appname-container">
      <h1>CELL<br>SHIFT</h1>
    </div>
    <div class="menu-container white">
      <%= link_to "#" do %><p>シフト希望を提出</p><% end %>
    </div>
    <div class="menu-container blue">
      <%= link_to "#" do %><p>シフトを確認</p><% end %>
    </div>
    <div class="discription">
      <p>
        CELL SHIFT(セルシフト)は<br>
        シフトの提出やシフトの確認を<br>
        直感的な操作でできるアプリです。<br>
        毎月の面倒なシフト調整を簡単にします。<br>
        メニューからやることをお選びください。
      </p>
    </div>
  </div>
</div>
