/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  text-decoration: none;
  box-sizing: border-box;
  font-family: "ヒラギノ丸ゴ ProN","メイリオ",sans-serif;
}

* li {
  list-style: none; 
} 

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

header {
  width: 100%;
  border-bottom: solid 2px #71C9CE;
}

.header-left {
}

.header-right {
  float: right;
}

.header-right ul {
  display: flex;
}

main {
  flex: 1;
  background-color: #E3FDFD;
}

footer {
  width: 100%;
  border-top: solid 2px #CBF1F5;
}

footer p {
  font-size: 12px;
  text-align: center;
}
